* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background: #d40003;
  color: #fff;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 30px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  font-size: 23px;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  background: url("images/Logo.png") center no-repeat;
  background-size: 1000px 800px;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.btn {
  padding: 13px 25px;
  background: #facc15;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
}

.btn:hover {
  background: #eab308;
}

section {
  padding: 60px 50px;
}

.about,
.products,
.contact {
  text-align: center;
}

.about-section {
  padding: 40px 80px;
  font-size: 25px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.about-section h1,
.about-section h2,
.about-section h3 {
  text-align: center;
  margin-bottom: 15px;
}
.about-section p {
  line-height: 1.8;
}
.about-section .highlight {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-top: 10px;
}

.products {
  background-color: #cc0003;
  height: 1200px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 30px;
  /*When i add images i'll remove this*/
  height: 1000px;
}

.product-card {
  background: #ffffff;
  border-radius: 10px;
  padding: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 120%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.contact {
  margin-top: 40px;
  font-size: 1.6rem;
}

.contact a {
  margin-top: 10px;
  text-decoration: none;
  color: #000;
}

.contact a:hover {
  text-decoration: underline;
}

footer {
  background: #d40003;
  color: #fff;
  text-align: center;
  padding: 10px;
}
/* For Tablet */

@media (max-width: 768px) {
  header {
    text-align: center;
    gap: 5px;
    padding: 10px 30px;
  }
  nav {
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }
  nav a {
    font-size: 16px;
    display: block;
  }
  .hero {
    background-size: 400px 300px;
  }
  .hero {
    height: 70vh;
    padding: 10px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
  section {
    padding: 40px 20px;
  }
  .about-section {
    padding: 20px;
    font-size: 18px;
  }
  .about-section .highlight {
    font-size: 30px;
  }
  .products {
    height: 100px;
  }
}
/* For Mobile */
@media (max-width: 480px) {
  header {
    text-align: center;
    gap: 5px;
    padding: 10px 30px;
  }
  nav {
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }
  nav a {
    font-size: 16px;
    display: block;
  }
  .about-section {
    padding: 15px;
    font-size: 16px;
  }
  .about-section .highlight {
    font-size: 24px;
  }
  .products {
    height: 700px;
  }
  .products-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    height: 500px;
    align-items: stretch;
  }
  .product-card {
    padding: 100px;
    width: 100%;
    box-sizing: border-box;
  }
  .contact {
    font-size: 1.2rem;
  }
  footer {
    font-size: 0.8rem;
  }
}
